<!-- Tablas Tickets -->



<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Tickets</h2>
        <div class="grid-margin">
          <button class="btn-lg btn-inverse-success" data-bs-toggle="modal" onclick="AbrirModalCrearTicket()">
            <span><i class=" mdi mdi-plus"></i></span> Agregar
            Ticket</button>
          <button class="btn-lg btn-inverse-info" onclick="ImprimirInforme()">
            <span><i class="mdi mdi-fax"></i></span> Generar Informe</button>
        </div>
        <!-- Filtros -->
        <div class="row">
          <div class="col-md-2 mb-2">
            <label class="control-label">Desde</label>
            <!-- Añadido atributo id para facilitar la manipulación desde JavaScript -->
            <input class="form-control form-control-sm" type="date" id="BuscarFechaInicio" />
          </div>
          <div class="col-md-2 mb-2">
            <label class="control-label">Hasta</label>
            <input class="form-control form-control-sm" type="date" id="BuscarFechaFin" />
          </div>
          
          <div class="col-md-3 mb-2">
            <label class="control-label">Categoría</label>
            <select class="form-control form-control-sm text-light" id="BuscarCategoriaId" onchange="ObtenerTickets()"></select>
          </div>
          <div class="col-md-2 mb-2">
            <label class="control-label">Prioridad</label>
            <select class="form-control form-control-sm text-light" id="PrioridadIdBuscar" onchange="ObtenerTickets()">
              <option value="0">[Todas las Prioridades]</option>
              <option value="1">Baja</option>
              <option value="2">Media</option>
              <option value="3">Alta</option>
            </select>
          </div>
          <div class="col-md-3 mb-2">
            <label class="control-label">Estado</label>
            <select class="form-control form-control-sm text-light" id="EstadoIdBuscar" onchange="ObtenerTickets()">
              <option value="0">[Todos los Estados]</option>
              <option value="1">Abierto</option>
              <option value="2">En Progreso</option>
              <option value="3">Cerrado</option>
              <option value="4">Cancelado</option>
            </select>
          </div>
        </div>


        <div class="table-responsive">
          <table id="tablaTickets" class="table table-hover tabla-con-acciones">
            <thead>
              <tr>

                <th class="text-light">Titulo</th>
                <th class="text-light">Estado</th>
                <th class="text-light">Prioridad</th>
                <th class="text-light">Fecha de Creación</th>
                <th class="text-light">Categoria</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="todosLosTickets"></tbody>
          </table>
        </div>

        <!-- MODAL -->
        <div id="modalCrearTickets" class="modal fade" tabindex="-1" data-bs-backdrop="static">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-primary">Agregar Nuevo Ticket</h5>
              </div>
              <div class="modal-body">
                <div>

                  <label for="Titulo" class="form-label">Titulo</label>
                  <input type="text" id="Titulo" class="form-control text-light" placeholder="Titulo">

                  <label for="Descripcion" class="form-label">Descripción</label>
                  <textarea name="Descripcion" id="Descripcion" class="form-control text-light"
                    placeholder="Descripcion"></textarea>


                  <label for="Prioridad" class="form-label">Prioridad</label>
                  <select id="Prioridad" class="form-control text-light">
                    <option value="Baja">Baja</option>
                    <option value="Media">Media</option>
                    <option value="Alta">Alta</option>
                  </select>

                  <label for="ticketCategoriaId"  class="form-label">Categoría</label>
                  <select id="ticketCategoriaId" class="form-control form-select text-light"></select>

                  <p id="errorCrear" hidden style="color:red"></p>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-inverse-warning" onclick="VaciarModalTicket()"">Cancelar</button>
                    <button type=" button" class="btn btn-inverse-primary" onclick="CrearTicket();">Guardar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- MODAL Editar-->
        <div id="modalEditarTickets" class="modal fade" tabindex="-1" data-bs-backdrop="static">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-primary">Editar Ticket</h5>
              </div>
              <div class="modal-body">
                <div class="row">

                  <input type="hidden" id="ticketId">

                  <label for="TituloEditar" class="form-label">Titulo</label>
                  <input type="text" id="TituloEditar" class="form-control text-light">

                  <label for="DescripcionEditar" class="form-label">Descripción</label>
                  <textarea name="Descripcion" id="DescripcionEditar" class="form-control text-light"></textarea>

                  <label for="PrioridadEditar" class="form-label">Prioridad</label>
                  <select id="PrioridadEditar" class="form-control text-light">
                    <option value="Baja">Baja</option>
                    <option value="Media">Media</option>
                    <option value="Alta">Alta</option>
                  </select>

                  <label for="CategoriaIdEditar" class="form-label">Categoría</label>
                  <select id="CategoriaIdEditar" class="form-control form-select text-light"></select>

                  <p id="errorEditar" hidden style="color:red"></p>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-inverse-warning" onclick="VaciarModalTicket()">Cancelar</button>
                <button type="button" class="btn btn-inverse-primary" onclick="EditarTicket();">Guardar</button>
              </div>
            </div>
          </div>
        </div>



        <!-- Modal Mostrar TICKETS -->
        <div class="modal fade" id="modalMostrarTickets" data-bs-backdrop="static" data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title fs-5 text-primary">Datos del Ticket</h5>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-light">Id</th>
                        <th class="text-light">Titulo</th>
                        <th class="text-light">Descripcion</th>
                        <th class="text-light">Prioridad</th>
                        <th class="text-light">Categoria</th>
                        <th class="text-light">Creador</th>
                        <th class="text-light">Email</th>
                      </tr>
                    </thead>
                    <tbody id="MostrarTicket"></tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-inverse-warning" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal HISTORIAL TICKETS -->
        <div class="modal fade" id="modalHistorialTickets" data-bs-backdrop="static" data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title fs-5 text-primary">Historial del Ticket</h5>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-light">Campo Modificado</th>
                        <th class="text-light">Valor Anterior</th>
                        <th class="text-light">Valor Nuevo</th>
                        <th class="text-light">Fecha de Modificacion</th>
                        <th class="text-light">Usuario</th>
                      </tr>
                    </thead>
                    <tbody id="historialTickets"></tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-inverse-warning" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../js/Ticket.js"></script>